@model IEnumerable<TechnicalInterview_FeedReader.Models.Feed>

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
@Html.Partial("_FeedAside")

<table>
    <tr>
        <td>
           
        </td>
        <td>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name) =>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
        </tr>
    }

</table>
